@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap');
/* *{
	outline: 1px solid pink;
} */
*:focus{
	outline: none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color:#cecece;
	font-weight: normal;
  }
.post_container{
	margin: auto;
	width: 600px;
}

/* form{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
} */


