.outter {
	position: relative;
}

.hover_layer {
	position: absolute;
	border-radius: 5px;
	z-index: 2;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg,rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.1) 50%);
}

li {
	list-style-type: none;
}

.outter img {
    height: auto;
	border: none;
	width: 100%;
	display: flex;
	border-radius: 5px;
	margin-bottom: 10px;
}

.my-masonry-grid {
	display: flex;
	width: auto;
	margin-left: -10px;
}

.my-masonry-grid_column {
	background-clip: padding-box;
	cursor: pointer;
	padding-left: 10px; /* gutter size */
}

.save_button {
	position: absolute;
	top: 12px;
	right: 12px;
	z-index: 3;
	width: 40px;
	height: 40px;
	border: none;
	border-radius: 5px;
	opacity: 0.9;
	background-color: #f7f7f7;
	color: #a0a0a0;
	cursor: pointer;
	font-size: 22px;
}

.save_button:hover {
	opacity: 1;
}

.hide_style {
	position: absolute;
	visibility: hidden;
}