nav{
	font-size: 0px;
	text-align: right;
	position: absolute;
	right: 20px;
	top: 0;
}

.nav_bar{
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	position: fixed;
	top:0px;
	z-index: 4;
	height: 60px;
	padding: 0px 20px;
}

.nav_bar::before{
	content:'';
	line-height: 60px;
	vertical-align: middle;
}

.tab_home{
	margin-right: 20px;
	background-size: 100%;
	display: inline-block;
	vertical-align: middle;
	width: 65px;
	height: 45px;
	background-repeat:no-repeat;
	background-image: url("./icon_gaze_logo.svg");
}

@media screen and (max-width: 700px) {
	.tab_home{
		display: none;
	}
}

.tab{
	margin: 0px 10px;
	border: none;
	background: none;
	font-size: 16px;
	display: inline-block;
	line-height: 60px;
	width: 80px;
	text-align: center;
	color: #a0a0a0;
	cursor: pointer;
	position: relative;
}

.tab:focus, .tab:hover, .tab_active{
	outline: none;
	color:#243d93;
}

.tab_signup {
	background: linear-gradient(90deg, #244091 0%, rgba(72,227,238,1) 100%);
	border-radius: 30px;
	padding: 10px 16px;
	color: #fff;
	cursor: pointer;
	margin: 0px 10px;
	font-weight: bold;
	font-size: 16px;
}
.tab_signup:hover{
	background:none;
	border: 2px solid #48e3ee;;
	color: #48e3ee;
	padding: 8px 14px;
}

.top_search{
	display: inline-block;
	width: 43vw;
	background-color: #eeeeee;
	padding: 10px 0px ;
	border-radius: 50px;
	position: relative;
	vertical-align: middle;
}

.search_txt{
	background-color: transparent;
	width: 32vw;
	margin-left: 60px;
	border: none;
	font-size: 16px;
	color: #4a4a4a;
}

.top_search i{
	position: absolute;
	font-size: 20px;
	top: 12px;
	left: 20px;
	display: inline-block;
	color: #a0a0a0;
	vertical-align: middle;
}
